<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Начало</title>
    <link rel="stylesheet" href="home-page.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="../view/index.html"><img src="../view/images/logo.webp" class="logo"></a>
            <a href="#" style="--i:1;" class="links active">Маршрути</a>
            <a href="../view/user-frontend/train-routes/train-routes.html" style="--i:2;" class="links">Билети</a>
            <a href="../view/user-frontend/ticket-management/ticket-management.html" style="--i:3;" class="links">За сайта</a>
        <a href="../view/auth/auth.html"><i class='bx bx-user-circle account' style='color:#ffffff'  ></i></a>
        </nav>
       
    </header>

    <img src="../view/images/home-img.webp" class="home-img">

    <div class="home-text">
        <h1>Резервирай бързо и удобно</h1>
        <p><strong>CodeXpress</strong> е иновационна компания за проследяване на влакове, предлагаща надеждни решения за безопасност и ефективност в транспорта. Нашите услуги осигуряват безопасност, точност и ефективност, като подобряват оперативността и удобството на пътуванията за клиенти и превозвачи.</p>
    </div>


        <!-- New container for input fields and filters -->
        <div class="route-selection-container">
            <h2>Choose from where to where</h2>
    
            <!-- Input fields with arrow in between -->
            <div class="input-wrapper">
                <input type="text" class="input-box" placeholder="From">
                <span class="arrow">→</span>
                <input type="text" class="input-box" placeholder="To">
            </div>
    
            <!-- Filters and Search fields -->
            <div class="filters-search-wrapper">
                <input type="text" class="filters" placeholder="Filters">
                <input type="text" class="search" placeholder="Search">
            </div>
        </div>
    

    
    
    <!-- <script src="home-page.js"></script> -->
</body>
</html>