<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Билети</title>
    <link rel="stylesheet" href="ticket-management.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="../view/index.html"><img src="../../images/logo.webp" class="logo"></a>
            <a href="../../index.html" style="--i:1;" class="links">Маршрути</a>
            <a href="#" style="--i:2;" class="links active">Билети</a>
            <a href="#" style="--i:3;" class="links">За сайта</a>
        <a href="../view/auth/auth.html"><i class='bx bx-user-circle account' style='color:#ffffff'  ></i></a>
        </nav>   
    </header>

    <div class="container">
        <div class="ticket">
            <div>
                <h1>Валиден до: </h1>
                <h1>Час на тръгване: </h1>
                <h1>Цена: </h1>
            </div>
            <div class="downloadBtn">
                <img src="bx-download.svg">
            </div>
        </div>
    </div>
</body>
</html>